openapi: 3.2.0
info:
  title: 蝶变AI超分系统 Enterprise Controller API
  description: 蝶变AI超分系统后端API文档 - Spring Boot 2.5
  version: 3.0.0
servers:
- url: http://www.fly4k.com:80
  description: Inferred Url
tags:
- name: enterprise-controller
  extensions:
    x-order: '2147483647'
paths:
  /api/enterprise/invitations/{invitationId}/accept:
    post:
      tags:
      - enterprise-controller
      summary: acceptInvitation
      operationId: acceptInvitationUsingPOST
      parameters:
      - name: invitationId
        in: path
        description: invitationId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_EnterpriseUpgradeResultVo'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/invitations/{invitationId}/reject:
    post:
      tags:
      - enterprise-controller
      summary: rejectInvitation
      operationId: rejectInvitationUsingPOST
      parameters:
      - name: invitationId
        in: path
        description: invitationId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_Void'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/my:
    get:
      tags:
      - enterprise-controller
      summary: getMyEnterprise
      operationId: getMyEnterpriseUsingGET
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_EnterpriseDetailVo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/upgrade:
    post:
      tags:
      - enterprise-controller
      summary: upgradeToEnterprise
      operationId: upgradeToEnterpriseUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradeEnterpriseAO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_EnterpriseUpgradeResultVo'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/{enterpriseId}/invite:
    post:
      tags:
      - enterprise-controller
      summary: inviteMember
      operationId: inviteMemberUsingPOST
      parameters:
      - name: enterpriseId
        in: path
        description: enterpriseId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteMemberAO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_Void'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/{enterpriseId}/members:
    get:
      tags:
      - enterprise-controller
      summary: listMembers
      operationId: listMembersUsingGET
      parameters:
      - name: enterpriseId
        in: path
        description: enterpriseId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_List_CustomerVo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/{enterpriseId}/members/{memberUserId}:
    delete:
      tags:
      - enterprise-controller
      summary: removeMember
      operationId: removeMemberUsingDELETE
      parameters:
      - name: enterpriseId
        in: path
        description: enterpriseId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: memberUserId
        in: path
        description: memberUserId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_Void'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      extensions:
        x-order: '2147483647'
  /api/enterprise/{enterpriseId}/members/{memberUserId}/level:
    put:
      tags:
      - enterprise-controller
      summary: changeMemberLevel
      operationId: changeMemberLevelUsingPUT
      parameters:
      - name: enterpriseId
        in: path
        description: enterpriseId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      - name: memberUserId
        in: path
        description: memberUserId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeMemberLevelAO'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_Void'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
  /api/enterprise/{enterpriseId}/stats:
    get:
      tags:
      - enterprise-controller
      summary: enterpriseStats
      operationId: enterpriseStatsUsingGET
      parameters:
      - name: enterpriseId
        in: path
        description: enterpriseId
        required: true
        style: simple
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ApiResponse_EnterpriseStatsVo'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      extensions:
        x-order: '2147483647'
components:
  schemas:
    EnterpriseInvitationVo:
      title: EnterpriseInvitationVo
      type: object
      properties:
        created_at:
          type: string
        enterprise_id:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
        invitee_id:
          type: integer
          format: int64
        invitee_phone:
          type: string
        inviter_id:
          type: integer
          format: int64
        member_level:
          type: string
        responded_at:
          type: string
        status:
          type: string
    EnterpriseUpgradeResultVo:
      title: EnterpriseUpgradeResultVo
      type: object
      properties:
        enterprise:
          $ref: '#/components/schemas/EnterpriseVo'
        user:
          $ref: '#/components/schemas/CustomerVo'
    CustomerVo:
      title: CustomerVo
      type: object
      properties:
        balance_credits:
          type: number
          format: bigdecimal
        balance_gift_credits:
          type: number
          format: bigdecimal
        balance_member_credits:
          type: number
          format: bigdecimal
        balance_purchased_credits:
          type: number
          format: bigdecimal
        company:
          type: string
        created_at:
          type: string
        display_name:
          type: string
        enterprise_id:
          type: integer
          format: int64
        enterprise_member_level:
          type: string
        enterprise_role:
          type: string
        id:
          type: integer
          format: int64
        member_billing_cycle:
          type: string
        member_expire:
          type: string
        member_level:
          type: string
        monthly_task_count:
          type: integer
          format: int32
        nickname:
          type: string
        phone:
          type: string
        role:
          type: string
        sales_person:
          type: string
        status:
          type: string
        trial_gift_days:
          type: integer
          format: int32
        username:
          type: string
    ApiResponse_Void:
      title: ApiResponse«Void»
      type: object
      properties:
        code:
          type: integer
          format: int32
        msg:
          type: string
    EnterpriseDetailVo:
      title: EnterpriseDetailVo
      type: object
      properties:
        annual_credits:
          type: integer
          format: int32
        annual_credits_remaining:
          type: number
          format: bigdecimal
        annual_credits_used:
          type: number
          format: bigdecimal
        created_at:
          type: string
        current_member_count:
          type: integer
          format: int32
        discount_rate:
          type: number
          format: bigdecimal
        id:
          type: integer
          format: int64
        max_concurrent:
          type: integer
          format: int32
        max_members:
          type: integer
          format: int32
        members:
          type: array
          items:
            $ref: '#/components/schemas/CustomerVo'
        name:
          type: string
        owner_id:
          type: integer
          format: int64
        pending_invitations:
          type: array
          items:
            $ref: '#/components/schemas/EnterpriseInvitationVo'
        plan:
          type: string
        purchased_credits:
          type: number
          format: bigdecimal
        status:
          type: string
        subscribe_end:
          type: string
    ApiResponse_EnterpriseUpgradeResultVo:
      title: ApiResponse«EnterpriseUpgradeResultVo»
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/EnterpriseUpgradeResultVo'
        msg:
          type: string
    ApiResponse_List_CustomerVo:
      title: ApiResponse«List«CustomerVo»»
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerVo'
        msg:
          type: string
    InviteMemberAO:
      title: InviteMemberAO
      type: object
      properties:
        member_level:
          type: string
        phone:
          type: string
    ApiResponse_EnterpriseStatsVo:
      title: ApiResponse«EnterpriseStatsVo»
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/EnterpriseStatsVo'
        msg:
          type: string
    ChangeMemberLevelAO:
      title: ChangeMemberLevelAO
      type: object
      properties:
        member_level:
          type: string
    EnterpriseStatsVo:
      title: EnterpriseStatsVo
      type: object
      properties:
        enterprise:
          $ref: '#/components/schemas/EnterpriseVo'
        task_stats:
          $ref: '#/components/schemas/TaskStatsVo'
    TaskStatsVo:
      title: TaskStatsVo
      type: object
      properties:
        completed:
          type: integer
          format: int64
        processing:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        total_credits_used:
          type: integer
          format: int32
    ApiResponse_EnterpriseDetailVo:
      title: ApiResponse«EnterpriseDetailVo»
      type: object
      properties:
        code:
          type: integer
          format: int32
        data:
          $ref: '#/components/schemas/EnterpriseDetailVo'
        msg:
          type: string
    UpgradeEnterpriseAO:
      title: UpgradeEnterpriseAO
      type: object
      properties:
        enterprise_name:
          type: string
        plan_id:
          type: integer
          format: int64
    EnterpriseVo:
      title: EnterpriseVo
      type: object
      properties:
        annual_credits:
          type: integer
          format: int32
        annual_credits_remaining:
          type: number
          format: bigdecimal
        annual_credits_used:
          type: number
          format: bigdecimal
        created_at:
          type: string
        current_member_count:
          type: integer
          format: int32
        discount_rate:
          type: number
          format: bigdecimal
        id:
          type: integer
          format: int64
        max_concurrent:
          type: integer
          format: int32
        max_members:
          type: integer
          format: int32
        name:
          type: string
        owner_id:
          type: integer
          format: int64
        plan:
          type: string
        purchased_credits:
          type: number
          format: bigdecimal
        status:
          type: string
        subscribe_end:
          type: string
