{"openapi":"3.0.3","info":{"title":"蝶变AI超分系统 API","description":"蝶变AI超分系统后端API文档 - Spring Boot 2.5","version":"3.0.0"},"servers":[{"url":"http://www.fly4k.com:80","description":"Inferred Url"}],"tags":[{"name":"auth-controller","extensions":{"x-order":"2147483647"}},{"name":"customer-controller","extensions":{"x-order":"2147483647"}},{"name":"enterprise-controller","extensions":{"x-order":"2147483647"}},{"name":"frontend-controller","extensions":{"x-order":"2147483647"}},{"name":"tvc-controller","extensions":{"x-order":"2147483647"}}],"paths":{"/api/auth/health":{"get":{"tags":["auth-controller"],"summary":"health","operationId":"healthUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«HealthVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"summary":"login","operationId":"loginUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«LoginResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/login-sms":{"post":{"tags":["auth-controller"],"summary":"loginSms","operationId":"loginSmsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginSmsAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«LoginResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/me":{"get":{"tags":["auth-controller"],"summary":"me","operationId":"meUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CustomerInfoVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/register":{"post":{"tags":["auth-controller"],"summary":"register","operationId":"registerUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«LoginResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/register-config":{"get":{"tags":["auth-controller"],"summary":"registerConfig","operationId":"registerConfigUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«RegisterConfigVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/reset-password":{"post":{"tags":["auth-controller"],"summary":"resetPassword","operationId":"resetPasswordUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/sms-code":{"post":{"tags":["auth-controller"],"summary":"sendCode","operationId":"sendCodeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendCodeAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/auth/verificationCode":{"get":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}},"put":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingPUT","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}},"post":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}},"delete":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingDELETE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}},"options":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingOPTIONS","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}},"head":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingHEAD","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}},"patch":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingPATCH","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}},"trace":{"tags":["auth-controller"],"summary":"verificationCode","operationId":"verificationCodeUsingTRACE","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«VerificationCodeVO»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}}},"/api/user/balance":{"get":{"tags":["customer-controller"],"summary":"getBalance","operationId":"getBalanceUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CustomerBalanceVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/bindSaler":{"post":{"tags":["customer-controller"],"summary":"bindSaler","operationId":"bindSalerUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/consumption":{"get":{"tags":["customer-controller"],"summary":"getConsumption","operationId":"getConsumptionUsingGET","parameters":[{"name":"page","in":"query","description":"page","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"page_size","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«PagedConsumptionVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/credit-packages":{"get":{"tags":["customer-controller"],"summary":"listCreditPackages","operationId":"listCreditPackagesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CreditPackageListVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/credit-rules":{"get":{"tags":["customer-controller"],"summary":"getCreditRules","operationId":"getCreditRulesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CreditRulesVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/download/create":{"post":{"tags":["customer-controller"],"summary":"createDownload","operationId":"createDownloadUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«JSONObject»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/download/get":{"post":{"tags":["customer-controller"],"summary":"getDownload","operationId":"getDownloadUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«JSONObject»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/enterprise-plans":{"get":{"tags":["customer-controller"],"summary":"listEnterprisePlans","operationId":"listEnterprisePlansUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«EnterprisePlanListVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/member-plans":{"get":{"tags":["customer-controller"],"summary":"listMemberPlans","operationId":"listMemberPlansUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«MemberPlanListVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/orders":{"get":{"tags":["customer-controller"],"summary":"listTasks","operationId":"listTasksUsingGET_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«List«OrderListVO»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/password":{"put":{"tags":["customer-controller"],"summary":"changePassword","operationId":"changePasswordUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/phone":{"put":{"tags":["customer-controller"],"summary":"changePhone","operationId":"changePhoneUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePhoneAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CustomerVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/productList":{"get":{"tags":["customer-controller"],"summary":"productList","operationId":"productListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«List«ProductVO»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/profile":{"put":{"tags":["customer-controller"],"summary":"updateProfile","operationId":"updateProfileUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CustomerVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/stats":{"get":{"tags":["customer-controller"],"summary":"getCustomerStats","operationId":"getCustomerStatsUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«CustomerStatsVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks":{"get":{"tags":["customer-controller"],"summary":"listTasks","operationId":"listTasksUsingGET","parameters":[{"name":"status","in":"query","description":"status","required":false,"style":"form","schema":{"type":"string"}},{"name":"page","in":"query","description":"page","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"page_size","in":"query","description":"page_size","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«PagedTaskVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}},"post":{"tags":["customer-controller"],"summary":"createTask","operationId":"createTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TaskCreateResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/appeal":{"post":{"tags":["customer-controller"],"summary":"appealTask","operationId":"appealTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"object"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/upload":{"post":{"tags":["customer-controller"],"summary":"createTaskUpload","operationId":"createTaskUploadUsingPOST","parameters":[{"name":"output_resolution","in":"query","description":"output_resolution","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","description":"remark","required":false,"style":"form","schema":{"type":"string"}},{"name":"use_enterprise_credits","in":"query","description":"use_enterprise_credits","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"model","in":"query","description":"model","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"scheme","in":"query","description":"scheme","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"hevc","in":"query","description":"hevc","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"express","in":"query","description":"express","required":false,"style":"form","schema":{"type":"boolean"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TaskUploadResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/uploadTest":{"post":{"tags":["customer-controller"],"summary":"createTaskUploadTest","operationId":"createTaskUploadTestUsingPOST","parameters":[{"name":"output_resolution","in":"query","description":"output_resolution","required":false,"style":"form","schema":{"type":"string"}},{"name":"remark","in":"query","description":"remark","required":false,"style":"form","schema":{"type":"string"}},{"name":"use_enterprise_credits","in":"query","description":"use_enterprise_credits","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"workflow_path","in":"query","description":"workflow_path","required":false,"style":"form","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TaskUploadResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/{taskId}":{"get":{"tags":["customer-controller"],"summary":"getTask","operationId":"getTaskUsingGET","parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TaskDetailVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/{taskId}/cancel":{"post":{"tags":["customer-controller"],"summary":"cancelTask","operationId":"cancelTaskUsingPOST","parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/user/tasks/{taskId}/retry":{"post":{"tags":["customer-controller"],"summary":"retryTask","operationId":"retryTaskUsingPOST","parameters":[{"name":"taskId","in":"path","description":"taskId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/invitations/{invitationId}/accept":{"post":{"tags":["enterprise-controller"],"summary":"acceptInvitation","operationId":"acceptInvitationUsingPOST","parameters":[{"name":"invitationId","in":"path","description":"invitationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«EnterpriseUpgradeResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/invitations/{invitationId}/reject":{"post":{"tags":["enterprise-controller"],"summary":"rejectInvitation","operationId":"rejectInvitationUsingPOST","parameters":[{"name":"invitationId","in":"path","description":"invitationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/my":{"get":{"tags":["enterprise-controller"],"summary":"getMyEnterprise","operationId":"getMyEnterpriseUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«EnterpriseDetailVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/upgrade":{"post":{"tags":["enterprise-controller"],"summary":"upgradeToEnterprise","operationId":"upgradeToEnterpriseUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpgradeEnterpriseAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«EnterpriseUpgradeResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/{enterpriseId}/invite":{"post":{"tags":["enterprise-controller"],"summary":"inviteMember","operationId":"inviteMemberUsingPOST","parameters":[{"name":"enterpriseId","in":"path","description":"enterpriseId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteMemberAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/{enterpriseId}/members":{"get":{"tags":["enterprise-controller"],"summary":"listMembers","operationId":"listMembersUsingGET","parameters":[{"name":"enterpriseId","in":"path","description":"enterpriseId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«List«CustomerVo»»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/{enterpriseId}/members/{memberUserId}":{"delete":{"tags":["enterprise-controller"],"summary":"removeMember","operationId":"removeMemberUsingDELETE","parameters":[{"name":"enterpriseId","in":"path","description":"enterpriseId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"memberUserId","in":"path","description":"memberUserId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/{enterpriseId}/members/{memberUserId}/level":{"put":{"tags":["enterprise-controller"],"summary":"changeMemberLevel","operationId":"changeMemberLevelUsingPUT","parameters":[{"name":"enterpriseId","in":"path","description":"enterpriseId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"memberUserId","in":"path","description":"memberUserId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeMemberLevelAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Void»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise/{enterpriseId}/stats":{"get":{"tags":["enterprise-controller"],"summary":"enterpriseStats","operationId":"enterpriseStatsUsingGET","parameters":[{"name":"enterpriseId","in":"path","description":"enterpriseId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«EnterpriseStatsVo»"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/":{"get":{"tags":["frontend-controller"],"summary":"index","operationId":"indexUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/*.html":{"get":{"tags":["frontend-controller"],"summary":"htmlSuffix","operationId":"htmlSuffixUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/css/**":{"get":{"tags":["frontend-controller"],"summary":"cssFiles","operationId":"cssFilesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/dashboard":{"get":{"tags":["frontend-controller"],"summary":"cleanUrl","operationId":"cleanUrlUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/enterprise":{"get":{"tags":["frontend-controller"],"summary":"cleanUrl","operationId":"cleanUrlUsingGET_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/images/**":{"get":{"tags":["frontend-controller"],"summary":"imageFiles","operationId":"imageFilesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/js/**":{"get":{"tags":["frontend-controller"],"summary":"jsFiles","operationId":"jsFilesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/landing":{"get":{"tags":["frontend-controller"],"summary":"cleanUrl","operationId":"cleanUrlUsingGET_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/login":{"get":{"tags":["frontend-controller"],"summary":"cleanUrl","operationId":"cleanUrlUsingGET_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/{filename}":{"get":{"tags":["frontend-controller"],"summary":"rootStaticFile","operationId":"rootStaticFileUsingGET","parameters":[{"name":"filename","in":"path","description":"filename","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Resource"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/cancel":{"post":{"tags":["tvc-controller"],"summary":"cancelTask","operationId":"cancelTaskUsingPOST_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TvcTaskCancelAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/confirm":{"post":{"tags":["tvc-controller"],"summary":"confirmTask","operationId":"confirmTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TvcTaskIdAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/create":{"post":{"tags":["tvc-controller"],"summary":"createTask","operationId":"createTaskUsingPOST_1","parameters":[{"name":"category","in":"query","description":"category","required":true,"style":"form","schema":{"type":"string"}},{"name":"title","in":"query","description":"title","required":true,"style":"form","schema":{"type":"string"}},{"name":"description","in":"query","description":"description","required":false,"style":"form","schema":{"type":"string"}},{"name":"reference_url","in":"query","description":"reference_url","required":false,"style":"form","schema":{"type":"string"}},{"name":"is_urgent","in":"query","description":"is_urgent","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"linkman_info","in":"query","description":"linkman_info","required":false,"style":"form","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}},"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TvcTaskCreateResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/create-cinema":{"post":{"tags":["tvc-controller"],"summary":"createCinemaTask","operationId":"createCinemaTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCinemaTaskAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TvcTaskCreateResultVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/detail":{"post":{"tags":["tvc-controller"],"summary":"taskDetail","operationId":"taskDetailUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TvcTaskIdAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TvcTaskDetailVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/list":{"post":{"tags":["tvc-controller"],"summary":"listTasks","operationId":"listTasksUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListTvcTasksAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/task/revise":{"post":{"tags":["tvc-controller"],"summary":"reviseTask","operationId":"reviseTaskUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TvcTaskReviseAO"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«Map«string,object»»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}},"/api/tvc/workspace":{"post":{"tags":["tvc-controller"],"summary":"workspace","operationId":"workspaceUsingPOST","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponse«TvcWorkspaceVo»"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"extensions":{"x-order":"2147483647"}}}},"components":{"schemas":{"ApiResponse":{"title":"ApiResponse","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"ApiResponse«CreditPackageListVo»":{"title":"ApiResponse«CreditPackageListVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CreditPackageListVo"},"msg":{"type":"string"}}},"ApiResponse«CreditRulesVo»":{"title":"ApiResponse«CreditRulesVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CreditRulesVo"},"msg":{"type":"string"}}},"ApiResponse«CustomerBalanceVo»":{"title":"ApiResponse«CustomerBalanceVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CustomerBalanceVo"},"msg":{"type":"string"}}},"ApiResponse«CustomerInfoVo»":{"title":"ApiResponse«CustomerInfoVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CustomerInfoVo"},"msg":{"type":"string"}}},"ApiResponse«CustomerStatsVo»":{"title":"ApiResponse«CustomerStatsVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CustomerStatsVo"},"msg":{"type":"string"}}},"ApiResponse«CustomerVo»":{"title":"ApiResponse«CustomerVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CustomerVo"},"msg":{"type":"string"}}},"ApiResponse«EnterpriseDetailVo»":{"title":"ApiResponse«EnterpriseDetailVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/EnterpriseDetailVo"},"msg":{"type":"string"}}},"ApiResponse«EnterprisePlanListVo»":{"title":"ApiResponse«EnterprisePlanListVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/EnterprisePlanListVo"},"msg":{"type":"string"}}},"ApiResponse«EnterpriseStatsVo»":{"title":"ApiResponse«EnterpriseStatsVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/EnterpriseStatsVo"},"msg":{"type":"string"}}},"ApiResponse«EnterpriseUpgradeResultVo»":{"title":"ApiResponse«EnterpriseUpgradeResultVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/EnterpriseUpgradeResultVo"},"msg":{"type":"string"}}},"ApiResponse«HealthVo»":{"title":"ApiResponse«HealthVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/HealthVo"},"msg":{"type":"string"}}},"ApiResponse«JSONObject»":{"title":"ApiResponse«JSONObject»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object","additionalProperties":{"type":"object"}},"msg":{"type":"string"}}},"ApiResponse«List«CustomerVo»»":{"title":"ApiResponse«List«CustomerVo»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomerVo"}},"msg":{"type":"string"}}},"ApiResponse«List«OrderListVO»»":{"title":"ApiResponse«List«OrderListVO»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/OrderListVO"}},"msg":{"type":"string"}}},"ApiResponse«List«ProductVO»»":{"title":"ApiResponse«List«ProductVO»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ProductVO"}},"msg":{"type":"string"}}},"ApiResponse«LoginResultVo»":{"title":"ApiResponse«LoginResultVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/LoginResultVo"},"msg":{"type":"string"}}},"ApiResponse«Map«string,object»»":{"title":"ApiResponse«Map«string,object»»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"type":"object"},"msg":{"type":"string"}}},"ApiResponse«MemberPlanListVo»":{"title":"ApiResponse«MemberPlanListVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/MemberPlanListVo"},"msg":{"type":"string"}}},"ApiResponse«PagedConsumptionVo»":{"title":"ApiResponse«PagedConsumptionVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PagedConsumptionVo"},"msg":{"type":"string"}}},"ApiResponse«PagedTaskVo»":{"title":"ApiResponse«PagedTaskVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/PagedTaskVo"},"msg":{"type":"string"}}},"ApiResponse«RegisterConfigVo»":{"title":"ApiResponse«RegisterConfigVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/RegisterConfigVo"},"msg":{"type":"string"}}},"ApiResponse«TaskCreateResultVo»":{"title":"ApiResponse«TaskCreateResultVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TaskCreateResultVo"},"msg":{"type":"string"}}},"ApiResponse«TaskDetailVo»":{"title":"ApiResponse«TaskDetailVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TaskDetailVo"},"msg":{"type":"string"}}},"ApiResponse«TaskUploadResultVo»":{"title":"ApiResponse«TaskUploadResultVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TaskUploadResultVo"},"msg":{"type":"string"}}},"ApiResponse«TvcTaskCreateResultVo»":{"title":"ApiResponse«TvcTaskCreateResultVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TvcTaskCreateResultVo"},"msg":{"type":"string"}}},"ApiResponse«TvcTaskDetailVo»":{"title":"ApiResponse«TvcTaskDetailVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TvcTaskDetailVo"},"msg":{"type":"string"}}},"ApiResponse«TvcWorkspaceVo»":{"title":"ApiResponse«TvcWorkspaceVo»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TvcWorkspaceVo"},"msg":{"type":"string"}}},"ApiResponse«VerificationCodeVO»":{"title":"ApiResponse«VerificationCodeVO»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/VerificationCodeVO"},"msg":{"type":"string"}}},"ApiResponse«Void»":{"title":"ApiResponse«Void»","type":"object","properties":{"code":{"type":"integer","format":"int32"},"msg":{"type":"string"}}},"ChangeMemberLevelAO":{"title":"ChangeMemberLevelAO","type":"object","properties":{"member_level":{"type":"string"}}},"ChangePasswordAO":{"title":"ChangePasswordAO","type":"object","properties":{"new_password":{"type":"string"},"old_password":{"type":"string"}}},"ChangePhoneAO":{"title":"ChangePhoneAO","type":"object","properties":{"new_phone":{"type":"string"},"phone":{"type":"string"},"sms_code":{"type":"string"}}},"Consumption":{"title":"Consumption","type":"object","properties":{"createdAt":{"type":"string","format":"date-time"},"creditSource":{"type":"string"},"credits":{"type":"number","format":"bigdecimal"},"description":{"type":"string"},"enterpriseId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"relatedId":{"type":"string"},"type":{"type":"string"},"userId":{"type":"integer","format":"int64"}}},"CreateCinemaTaskAO":{"title":"CreateCinemaTaskAO","type":"object","properties":{"duration":{"type":"number","format":"bigdecimal"},"linkman_info":{"$ref":"#/components/schemas/LinkmanInfo"},"title":{"type":"string"}}},"CreateTaskAO":{"title":"CreateTaskAO","type":"object","properties":{"original_duration":{"type":"number","format":"bigdecimal"},"original_fps":{"type":"number","format":"bigdecimal"},"original_resolution":{"type":"string"},"output_resolution":{"type":"string"},"remark":{"type":"string"},"use_enterprise_credits":{"type":"boolean"},"video_name":{"type":"string"},"video_size":{"type":"number","format":"bigdecimal"}}},"CreditPackage":{"title":"CreditPackage","type":"object","properties":{"bonusCredits":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"credits":{"type":"integer","format":"int32"},"description":{"type":"string"},"discountRate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"isActive":{"type":"boolean"},"name":{"type":"string"},"price":{"type":"integer","format":"int32"},"priceYuan":{"type":"number","format":"bigdecimal"},"sortOrder":{"type":"integer","format":"int32"},"totalCredits":{"type":"integer","format":"int32"}}},"CreditPackageListVo":{"title":"CreditPackageListVo","type":"object","properties":{"credit_rate":{"type":"number","format":"float"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CreditPackage"}}}},"CreditRulesVo":{"title":"CreditRulesVo","type":"object","properties":{"credit_rate":{"type":"number","format":"float"},"fps_rates":{"$ref":"#/components/schemas/FpsRatesVo"}}},"CustomerBalanceVo":{"title":"CustomerBalanceVo","type":"object","properties":{"balance_credits":{"type":"number","format":"bigdecimal"},"balance_gift_credits":{"type":"number","format":"bigdecimal"},"balance_member_credits":{"type":"number","format":"bigdecimal"},"balance_purchased_credits":{"type":"number","format":"bigdecimal"},"balance_rmb":{"type":"number","format":"bigdecimal"},"credit_rate":{"type":"number","format":"float"},"discount_rate":{"type":"number","format":"bigdecimal"},"enterprise":{"$ref":"#/components/schemas/EnterpriseBriefVo"},"member_billing_cycle":{"type":"string"},"member_expire":{"type":"string"},"member_level":{"type":"string"},"member_level_label":{"type":"string"},"monthly_task_count":{"type":"integer","format":"int32"},"trial_gift_days":{"type":"integer","format":"int32"}}},"CustomerInfoVo":{"title":"CustomerInfoVo","type":"object","properties":{"balance_credits":{"type":"number","format":"bigdecimal"},"balance_gift_credits":{"type":"number","format":"bigdecimal"},"balance_member_credits":{"type":"number","format":"bigdecimal"},"balance_purchased_credits":{"type":"number","format":"bigdecimal"},"balance_rmb":{"type":"number","format":"bigdecimal"},"company":{"type":"string"},"created_at":{"type":"string"},"credit_rate":{"type":"number","format":"float"},"display_name":{"type":"string"},"enterprise_id":{"type":"integer","format":"int64"},"enterprise_member_level":{"type":"string"},"enterprise_role":{"type":"string"},"id":{"type":"integer","format":"int64"},"member_billing_cycle":{"type":"string"},"member_expire":{"type":"string"},"member_level":{"type":"string"},"member_level_label":{"type":"string"},"monthly_task_count":{"type":"integer","format":"int32"},"nickname":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"sales_person":{"type":"string"},"status":{"type":"string"},"trial_gift_days":{"type":"integer","format":"int32"},"username":{"type":"string"}}},"CustomerStatsVo":{"title":"CustomerStatsVo","type":"object","properties":{"completed_tasks":{"type":"integer","format":"int64"},"failed_tasks":{"type":"integer","format":"int64"},"processing_tasks":{"type":"integer","format":"int64"},"total_credits_used":{"type":"integer","format":"int32"},"total_credits_used_rmb":{"type":"integer","format":"int32"},"total_tasks":{"type":"integer","format":"int64"}}},"CustomerVo":{"title":"CustomerVo","type":"object","properties":{"balance_credits":{"type":"number","format":"bigdecimal"},"balance_gift_credits":{"type":"number","format":"bigdecimal"},"balance_member_credits":{"type":"number","format":"bigdecimal"},"balance_purchased_credits":{"type":"number","format":"bigdecimal"},"company":{"type":"string"},"created_at":{"type":"string"},"display_name":{"type":"string"},"enterprise_id":{"type":"integer","format":"int64"},"enterprise_member_level":{"type":"string"},"enterprise_role":{"type":"string"},"id":{"type":"integer","format":"int64"},"member_billing_cycle":{"type":"string"},"member_expire":{"type":"string"},"member_level":{"type":"string"},"monthly_task_count":{"type":"integer","format":"int32"},"nickname":{"type":"string"},"phone":{"type":"string"},"role":{"type":"string"},"sales_person":{"type":"string"},"status":{"type":"string"},"trial_gift_days":{"type":"integer","format":"int32"},"username":{"type":"string"}}},"EnterpriseBriefVo":{"title":"EnterpriseBriefVo","type":"object","properties":{"annual_credits_remaining":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"member_level":{"type":"string"},"name":{"type":"string"},"plan":{"type":"string"},"purchased_credits":{"type":"number","format":"bigdecimal"},"role":{"type":"string"}}},"EnterpriseDetailVo":{"title":"EnterpriseDetailVo","type":"object","properties":{"annual_credits":{"type":"integer","format":"int32"},"annual_credits_remaining":{"type":"number","format":"bigdecimal"},"annual_credits_used":{"type":"number","format":"bigdecimal"},"created_at":{"type":"string"},"current_member_count":{"type":"integer","format":"int32"},"discount_rate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"max_concurrent":{"type":"integer","format":"int32"},"max_members":{"type":"integer","format":"int32"},"members":{"type":"array","items":{"$ref":"#/components/schemas/CustomerVo"}},"name":{"type":"string"},"owner_id":{"type":"integer","format":"int64"},"pending_invitations":{"type":"array","items":{"$ref":"#/components/schemas/EnterpriseInvitationVo"}},"plan":{"type":"string"},"purchased_credits":{"type":"number","format":"bigdecimal"},"status":{"type":"string"},"subscribe_end":{"type":"string"}}},"EnterpriseInvitationVo":{"title":"EnterpriseInvitationVo","type":"object","properties":{"created_at":{"type":"string"},"enterprise_id":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"invitee_id":{"type":"integer","format":"int64"},"invitee_phone":{"type":"string"},"inviter_id":{"type":"integer","format":"int64"},"member_level":{"type":"string"},"responded_at":{"type":"string"},"status":{"type":"string"}}},"EnterprisePlan":{"title":"EnterprisePlan","type":"object","properties":{"annualCredits":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"description":{"type":"string"},"discountRate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"isActive":{"type":"boolean"},"maxConcurrent":{"type":"integer","format":"int32"},"maxFileSize":{"type":"integer","format":"int32"},"maxMembers":{"type":"integer","format":"int32"},"name":{"type":"string"},"planCode":{"type":"string"},"price":{"type":"integer","format":"int32"},"priceYuan":{"type":"number","format":"bigdecimal"},"sortOrder":{"type":"integer","format":"int32"}}},"EnterprisePlanListVo":{"title":"EnterprisePlanListVo","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EnterprisePlan"}}}},"EnterpriseStatsVo":{"title":"EnterpriseStatsVo","type":"object","properties":{"enterprise":{"$ref":"#/components/schemas/EnterpriseVo"},"task_stats":{"$ref":"#/components/schemas/TaskStatsVo"}}},"EnterpriseUpgradeResultVo":{"title":"EnterpriseUpgradeResultVo","type":"object","properties":{"enterprise":{"$ref":"#/components/schemas/EnterpriseVo"},"user":{"$ref":"#/components/schemas/CustomerVo"}}},"EnterpriseVo":{"title":"EnterpriseVo","type":"object","properties":{"annual_credits":{"type":"integer","format":"int32"},"annual_credits_remaining":{"type":"number","format":"bigdecimal"},"annual_credits_used":{"type":"number","format":"bigdecimal"},"created_at":{"type":"string"},"current_member_count":{"type":"integer","format":"int32"},"discount_rate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"max_concurrent":{"type":"integer","format":"int32"},"max_members":{"type":"integer","format":"int32"},"name":{"type":"string"},"owner_id":{"type":"integer","format":"int64"},"plan":{"type":"string"},"purchased_credits":{"type":"number","format":"bigdecimal"},"status":{"type":"string"},"subscribe_end":{"type":"string"}}},"FpsRateTierHighVo":{"title":"FpsRateTierHighVo","type":"object","properties":{"min_fps":{"type":"integer","format":"int32"},"rate":{"type":"number","format":"bigdecimal"}}},"FpsRateTierVo":{"title":"FpsRateTierVo","type":"object","properties":{"max_fps":{"type":"integer","format":"int32"},"rate":{"type":"number","format":"bigdecimal"}}},"FpsRatesVo":{"title":"FpsRatesVo","type":"object","properties":{"high":{"$ref":"#/components/schemas/FpsRateTierHighVo"},"low":{"$ref":"#/components/schemas/FpsRateTierVo"},"medium":{"$ref":"#/components/schemas/FpsRateTierVo"}}},"HealthVo":{"title":"HealthVo","type":"object","properties":{"status":{"type":"string"},"version":{"type":"string"}}},"InputStream":{"title":"InputStream","type":"object"},"InviteMemberAO":{"title":"InviteMemberAO","type":"object","properties":{"member_level":{"type":"string"},"phone":{"type":"string"}}},"LinkmanInfo":{"title":"LinkmanInfo","type":"object","properties":{"company":{"type":"string"},"name":{"type":"string"},"phone":{"type":"string"},"wechat":{"type":"string"}}},"ListTvcTasksAO":{"title":"ListTvcTasksAO","type":"object","properties":{"page":{"type":"integer","format":"int32"},"page_size":{"type":"integer","format":"int32"},"status":{"type":"string"}}},"LoginAO":{"title":"LoginAO","type":"object","properties":{"password":{"type":"string"},"phone":{"type":"string"},"username":{"type":"string"}}},"LoginResultVo":{"title":"LoginResultVo","type":"object","properties":{"token":{"type":"string"},"user":{"$ref":"#/components/schemas/CustomerVo"}}},"LoginSmsAO":{"title":"LoginSmsAO","type":"object","properties":{"phone":{"type":"string"},"sms_code":{"type":"string"}}},"MemberPlan":{"title":"MemberPlan","type":"object","properties":{"billingCycle":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"credits":{"type":"integer","format":"int32"},"description":{"type":"string"},"discountRate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"isActive":{"type":"boolean"},"level":{"type":"string"},"maxFileSize":{"type":"integer","format":"int32"},"name":{"type":"string"},"price":{"type":"integer","format":"int32"},"priceYuan":{"type":"number","format":"bigdecimal"},"sortOrder":{"type":"integer","format":"int32"}}},"MemberPlanListVo":{"title":"MemberPlanListVo","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/MemberPlan"}}}},"OrderListVO":{"title":"OrderListVO","type":"object","properties":{"amount":{"type":"number","format":"bigdecimal"},"crystals":{"type":"integer","format":"int32"},"packageName":{"type":"string"},"paymentMethod":{"type":"string"},"time":{"type":"string","format":"date-time"}}},"PagedConsumptionVo":{"title":"PagedConsumptionVo","type":"object","properties":{"credit_rate":{"type":"number","format":"float"},"data":{"type":"array","items":{"$ref":"#/components/schemas/Consumption"}},"page":{"type":"integer","format":"int32"},"page_size":{"type":"integer","format":"int32"},"total":{"type":"integer","format":"int64"}}},"PagedTaskVo":{"title":"PagedTaskVo","type":"object","properties":{"credit_rate":{"type":"number","format":"float"},"page":{"type":"integer","format":"int32"},"page_size":{"type":"integer","format":"int32"},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/Task"}},"total":{"type":"integer","format":"int64"}}},"ProductVO":{"title":"ProductVO","type":"object","properties":{"creditDescription":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"price":{"type":"number","format":"bigdecimal"},"tips1":{"type":"string"},"tips2":{"type":"string"},"tips3":{"type":"string"},"tips4":{"type":"string"},"tips5":{"type":"string"},"type":{"type":"integer","format":"int32"}}},"RegisterAO":{"title":"RegisterAO","type":"object","properties":{"company":{"type":"string"},"invite_code":{"type":"string"},"password":{"type":"string"},"phone":{"type":"string"},"sms_code":{"type":"string"}}},"RegisterConfigVo":{"title":"RegisterConfigVo","type":"object","properties":{"invite_code_required":{"type":"boolean"}}},"ResetPasswordAO":{"title":"ResetPasswordAO","type":"object","properties":{"new_password":{"type":"string"},"phone":{"type":"string"},"sms_code":{"type":"string"}}},"Resource":{"title":"Resource","type":"object","properties":{"description":{"type":"string"},"file":{"type":"string","format":"binary"},"filename":{"type":"string"},"inputStream":{"$ref":"#/components/schemas/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"type":"string","format":"uri"},"url":{"type":"string","format":"url"}}},"SendCodeAO":{"title":"SendCodeAO","type":"object","properties":{"action":{"type":"string"},"code":{"type":"string"},"codeKey":{"type":"string"},"phone":{"type":"string"}}},"Task":{"title":"Task","type":"object","properties":{"auditDesc":{"type":"string"},"auditOperator":{"type":"string"},"auditState":{"type":"integer","format":"int32"},"auditTime":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"},"costCredits":{"type":"number","format":"bigdecimal"},"costGiftCredits":{"type":"number","format":"bigdecimal"},"costMemberCredits":{"type":"number","format":"bigdecimal"},"costPurchasedCredits":{"type":"number","format":"bigdecimal"},"createdAt":{"type":"string","format":"date-time"},"discountRate":{"type":"number","format":"bigdecimal"},"downloadCount":{"type":"integer","format":"int32"},"downloadRemaining":{"type":"integer","format":"int32"},"enterpriseId":{"type":"integer","format":"int64"},"errorMessage":{"type":"string"},"estimatedCompletionTime":{"type":"string"},"hevc":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"model":{"type":"integer","format":"int32"},"originalDuration":{"type":"number","format":"bigdecimal"},"originalFps":{"type":"number","format":"bigdecimal"},"originalHeight":{"type":"integer","format":"int32"},"originalResolution":{"type":"string"},"originalWidth":{"type":"integer","format":"int32"},"outputResolution":{"type":"string"},"outputUrl":{"type":"string"},"priority":{"type":"integer","format":"int32"},"prioritySeq":{"type":"integer","format":"int32"},"progress":{"type":"integer","format":"int32"},"remark":{"type":"string"},"scheme":{"type":"integer","format":"int32"},"sourceUrl":{"type":"string"},"status":{"type":"string"},"updatedAt":{"type":"string","format":"date-time"},"useEnterpriseCredits":{"type":"boolean"},"userId":{"type":"integer","format":"int64"},"videoName":{"type":"string"},"videoSize":{"type":"number","format":"bigdecimal"},"workDuration":{"type":"number","format":"bigdecimal"}}},"TaskCreateResultVo":{"title":"TaskCreateResultVo","type":"object","properties":{"base_credits":{"type":"number","format":"bigdecimal"},"cost_credits":{"type":"number","format":"bigdecimal"},"discount_rate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"priority":{"type":"integer","format":"int32"},"status":{"type":"string"},"user_id":{"type":"integer","format":"int64"},"video_name":{"type":"string"},"work_duration":{"type":"number","format":"bigdecimal"}}},"TaskDetailVo":{"title":"TaskDetailVo","type":"object","properties":{"cost_credits":{"type":"number","format":"bigdecimal"},"cost_rmb":{"type":"number","format":"bigdecimal"},"created_at":{"type":"string"},"credit_rate":{"type":"number","format":"float"},"id":{"type":"integer","format":"int64"},"progress":{"type":"integer","format":"int32"},"status":{"type":"string"},"video_name":{"type":"string"},"work_duration":{"type":"number","format":"bigdecimal"}}},"TaskStatsVo":{"title":"TaskStatsVo","type":"object","properties":{"completed":{"type":"integer","format":"int64"},"processing":{"type":"integer","format":"int64"},"total":{"type":"integer","format":"int64"},"total_credits_used":{"type":"integer","format":"int32"}}},"TaskUploadResultVo":{"title":"TaskUploadResultVo","type":"object","properties":{"base_credits":{"type":"number","format":"bigdecimal"},"cost_credits":{"type":"number","format":"bigdecimal"},"discount_rate":{"type":"number","format":"bigdecimal"},"file_size_mb":{"type":"string"},"id":{"type":"integer","format":"int64"},"original_duration":{"type":"number","format":"double"},"original_fps":{"type":"number","format":"double"},"original_resolution":{"type":"string"},"priority":{"type":"integer","format":"int32"},"real_4k":{"type":"boolean"},"saved_file":{"type":"string"},"status":{"type":"string"},"user_id":{"type":"integer","format":"int64"},"video_name":{"type":"string"},"work_duration":{"type":"number","format":"bigdecimal"}}},"TvcRevisionVo":{"title":"TvcRevisionVo","type":"object","properties":{"created_at":{"type":"string"},"customer_feedback":{"type":"string"},"result_url":{"type":"string"},"revision_no":{"type":"integer","format":"int32"}}},"TvcStatsVo":{"title":"TvcStatsVo","type":"object","properties":{"completed_count":{"type":"integer","format":"int64"},"pending_count":{"type":"integer","format":"int64"},"producing_count":{"type":"integer","format":"int64"},"reviewing_count":{"type":"integer","format":"int64"}}},"TvcTaskCancelAO":{"title":"TvcTaskCancelAO","type":"object","properties":{"cancel_reason":{"type":"string"},"task_id":{"type":"integer","format":"int64"}}},"TvcTaskCreateResultVo":{"title":"TvcTaskCreateResultVo","type":"object","properties":{"cost_credits":{"type":"number","format":"bigdecimal"},"task_no":{"type":"string"},"video_duration":{"type":"number","format":"bigdecimal"},"video_fps":{"type":"number","format":"bigdecimal"},"video_resolution":{"type":"string"}}},"TvcTaskDetailVo":{"title":"TvcTaskDetailVo","type":"object","properties":{"accepted_at":{"type":"string"},"category":{"type":"string"},"completed_at":{"type":"string"},"cost_credits":{"type":"number","format":"bigdecimal"},"created_at":{"type":"string"},"description":{"type":"string"},"discount_rate":{"type":"number","format":"bigdecimal"},"id":{"type":"integer","format":"int64"},"is_urgent":{"type":"boolean"},"linkman_info":{"type":"string"},"reference_url":{"type":"string"},"result_url":{"type":"string"},"review_deadline":{"type":"string"},"revision_count":{"type":"integer","format":"int32"},"revisions":{"type":"array","items":{"$ref":"#/components/schemas/TvcRevisionVo"}},"source_url":{"type":"string"},"status":{"type":"string"},"task_no":{"type":"string"},"title":{"type":"string"},"unit_price":{"type":"integer","format":"int32"},"video_duration":{"type":"number","format":"bigdecimal"},"video_fps":{"type":"number","format":"bigdecimal"},"video_name":{"type":"string"},"video_resolution":{"type":"string"},"video_size":{"type":"number","format":"bigdecimal"}}},"TvcTaskIdAO":{"title":"TvcTaskIdAO","type":"object","properties":{"task_id":{"type":"integer","format":"int64"}}},"TvcTaskListVo":{"title":"TvcTaskListVo","type":"object","properties":{"category":{"type":"string"},"cost_credits":{"type":"number","format":"bigdecimal"},"created_at":{"type":"string"},"id":{"type":"integer","format":"int64"},"is_urgent":{"type":"boolean"},"review_deadline":{"type":"string"},"status":{"type":"string"},"task_no":{"type":"string"},"title":{"type":"string"},"video_duration":{"type":"number","format":"bigdecimal"}}},"TvcTaskReviseAO":{"title":"TvcTaskReviseAO","type":"object","properties":{"feedback":{"type":"string"},"task_id":{"type":"integer","format":"int64"}}},"TvcWorkspaceVo":{"title":"TvcWorkspaceVo","type":"object","properties":{"frozen_credits":{"type":"number","format":"bigdecimal"},"member_expire":{"type":"string"},"member_level":{"type":"string"},"recent_tasks":{"type":"array","items":{"$ref":"#/components/schemas/TvcTaskListVo"}},"stats":{"$ref":"#/components/schemas/TvcStatsVo"}}},"UpdateProfileAO":{"title":"UpdateProfileAO","type":"object","properties":{"nickname":{"type":"string"}}},"UpgradeEnterpriseAO":{"title":"UpgradeEnterpriseAO","type":"object","properties":{"enterprise_name":{"type":"string"},"plan_id":{"type":"integer","format":"int64"}}},"VerificationCodeVO":{"title":"VerificationCodeVO","type":"object","properties":{"codeKey":{"type":"string"},"pictureUrl":{"type":"string"}}}}}}